{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actor</h1>

    {% macro input(name) %}
        coucou {{ name }}
    {% endmacro %}

    {% import _self as chouette %}
    {% import "TroiswaTestBundle:Macro:function.html.twig" as function %}

    {{ chouette.input('ludo') }}

    {{ function.link('actor', 'page des acteurs') }}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ entity.sexe|gender }}</td>
            </tr>
            <tr>
                <th>Âge</th>
                <td>{{ entity.datenaissance|date("m/d/Y") }} : {{ age(entity.datenaissance) }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset(entity.image.webpath) }}" width="200px" heigth="200px"></td>
            </tr>
            <tr>
                <th>Film</th>
                <td>{% for movie in entity.movies %} {{ movie.titre }} {% endfor %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('actor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('actor_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
