{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actor</h1>

    {% macro input(name) %}
        coucou {{ name }}
    {% endmacro %}

    {% macro link(route, name) %}
        <a href="{{ path(route) }}">{{ name }}</a>
    {% endmacro %}

    {% import _self as chouette %}
    {% import "TroiswaTestBundle:Macro:function.html.twig" as function %}
<br>
    {{ chouette.link('actor', 'ceci est un lien') }}
<br>
    {{ chouette.input('ludo') }}
<br>
    {{ function.link('actor', 'page des acteurs') }}
<br>
    {{ "coucou"|trans }} -> traduction
    {% trans %} hello {% endtrans %}
<br>
    php app/console translation:update fr TroiswaTestBundle --dump-messages --force
<br>
    
    {% set count = 23 %}

    {% transchoice count %}
        {0} il n'y a pas d'article |{1} Il y a un article | ]1,Inf] Il y a %count% articles
    {% endtranschoice %}

    <br>

    {% transchoice count with {'%count%': count} %}
        article.nombre
    {% endtranschoice %}

    <br>
    {{ 'article.one'|trans({'%count%': count}) }}

<br>

<br>

{{ site }} - {{ site2 }}


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ entity.sexe|gender }}</td>
            </tr>
            <tr>
                <th>Âge</th>
                <td>{{ entity.datenaissance|localizeddate("medium", "none") }} : {{ age(entity.datenaissance) }}</td>
            </tr>
            <tr>
                <th>Image</th>
                {% if entity.image is not null %}
                    <td><img src="{{ asset(entity.image.webpath) }}" width="200px" heigth="200px"></td>
                {% endif %}
            </tr>
            <tr>
                <th>Film</th>
                <td>{% for movie in entity.movies %} {{ movie.titre }} {% endfor %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('actor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('actor_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock %}
